<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/databse?useSSL=false</property>
		<property name="hibernate.connection.username">user</property>
		<property name="hibernate.connection.password">pass</property>

		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>	<!-- dialteo a ser Usado : Mysql, Oralce, MS-->	
 		<property name="show_sql">true</property>    <!-- Producoção usar = false em produção-->
		<property name="format_sql">true</property>  <!-- Formatar os comando sql em mais de uma linha -->
		
		<mapping class="com.buildsoftware.openfinance.finance.model.Pessoa"/>
		<mapping class="com.buildsoftware.openfinance.finance.model.Lancamento"/>
		<mapping class="com.buildsoftware.openfinance.finance.model.RamoAtividade"/>
		
	</session-factory>
</hibernate-configuration>